<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <js>
                <minify_exclude>
                    <onilab_googlechart_fix>\.gstatic.com/charts/</onilab_googlechart_fix>
                </minify_exclude>
            </js>
        </dev>
    </default>
</config>
